USE [master]
GO
/****** Object:  Database [StudentExamDB]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE DATABASE [StudentExamDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentExamDB', FILENAME = N'C:\Users\Acer\StudentExamDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentExamDB_log', FILENAME = N'C:\Users\Acer\StudentExamDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentExamDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentExamDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Grade] [tinyint] NOT NULL,
	[Date] [date] NOT NULL,
	[ExaminerID] [int] NOT NULL,
	[SupervisorID] [int] NULL,
	[SubjectID] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[JMBG] [char](13) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age]  AS (datediff(year,[DateOfBirth],getdate())-case when format(getdate(),'MMdd')<format([DateOfBirth],'MMdd') then (1) else (0) end),
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[IndexNumber] [nvarchar](20) NOT NULL,
	[GPA] [decimal](4, 2) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ESPB] [tinyint] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 23-Oct-25 15:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] NOT NULL,
	[Title] [tinyint] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251002054845_Initial_WithTrigger', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251002054912_AddGpaColumn_And_Trigger', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251008182136_AddDateOfBirthRangeCheck', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([ID], [StudentID], [Grade], [Date], [ExaminerID], [SupervisorID], [SubjectID], [Note]) VALUES (1, 1005, 7, CAST(N'2025-10-03' AS Date), 1006, 1006, 2, N'bla')
INSERT [dbo].[Exam] ([ID], [StudentID], [Grade], [Date], [ExaminerID], [SupervisorID], [SubjectID], [Note]) VALUES (8, 1005, 8, CAST(N'2025-10-05' AS Date), 1006, 1006, 3, N'ispravka')
INSERT [dbo].[Exam] ([ID], [StudentID], [Grade], [Date], [ExaminerID], [SupervisorID], [SubjectID], [Note]) VALUES (1011, 4005, 6, CAST(N'2025-10-16' AS Date), 4006, 4007, 1003, NULL)
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [JMBG], [DateOfBirth]) VALUES (1005, N'Milica', N'Milosevic', N'1504999710029', CAST(N'1999-04-15' AS Date))
INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [JMBG], [DateOfBirth]) VALUES (1006, N'Miodrag', N'Stojanovic', N'0409974732292', CAST(N'1974-09-04' AS Date))
INSERT [dbo].[Person] ([ID], [FirstName], [LastName], [JMBG], [DateOfBirth]) VALUES (1007, N'Tanja', N'Mitrović', N'0811987700317', CAST(N'1987-11-08' AS Date))
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
INSERT [dbo].[Student] ([ID], [IndexNumber], [GPA]) VALUES (1005, N'2024/1234', CAST(8.00 AS Decimal(4, 2)))
INSERT [dbo].[Student] ([ID], [IndexNumber], [GPA]) VALUES (1008, N'2018/0005', NULL)
INSERT [dbo].[Student] ([ID], [IndexNumber], [GPA]) VALUES (4005, N'2024/100', CAST(6.00 AS Decimal(4, 2)))
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([ID], [Name], [ESPB]) VALUES (1, N'Matematika 1', 6)
INSERT [dbo].[Subject] ([ID], [Name], [ESPB]) VALUES (2, N'Projektovanje softvera', 6)
INSERT [dbo].[Subject] ([ID], [Name], [ESPB]) VALUES (3, N'Engleski 1', 4)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
INSERT [dbo].[Teacher] ([ID], [Title]) VALUES (1006, 2)
INSERT [dbo].[Teacher] ([ID], [Title]) VALUES (1007, 1)
INSERT [dbo].[Teacher] ([ID], [Title]) VALUES (4006, 3)
GO
/****** Object:  Index [IX_Exam_ExaminerID]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE NONCLUSTERED INDEX [IX_Exam_ExaminerID] ON [dbo].[Exam]
(
	[ExaminerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exam_SubjectID]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE NONCLUSTERED INDEX [IX_Exam_SubjectID] ON [dbo].[Exam]
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exam_SupervisorID]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE NONCLUSTERED INDEX [IX_Exam_SupervisorID] ON [dbo].[Exam]
(
	[SupervisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Exam_PassOnce]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Exam_PassOnce] ON [dbo].[Exam]
(
	[StudentID] ASC,
	[SubjectID] ASC
)
WHERE ([Grade]>=(6))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Exam_Student_Subject_Date]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Exam_Student_Subject_Date] ON [dbo].[Exam]
(
	[StudentID] ASC,
	[SubjectID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Person_JMBG]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Person_JMBG] ON [dbo].[Person]
(
	[JMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Student_IndexNumber]    Script Date: 23-Oct-25 15:06:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Student_IndexNumber] ON [dbo].[Student]
(
	[IndexNumber] ASC
)
WHERE ([IndexNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student_StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Student_StudentID]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Subject_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Subject_SubjectID]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Teacher_ExaminerID] FOREIGN KEY([ExaminerID])
REFERENCES [dbo].[Teacher] ([ID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Teacher_ExaminerID]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Teacher_SupervisorID] FOREIGN KEY([SupervisorID])
REFERENCES [dbo].[Teacher] ([ID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Teacher_SupervisorID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Person_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Person_ID]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Person_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Person] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Person_ID]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [CK_Exam_Grade] CHECK  (([Grade]>=(5) AND [Grade]<=(10)))
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [CK_Exam_Grade]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_Person_DateOfBirth_Range] CHECK  (([DateOfBirth]>='1900-01-01' AND [DateOfBirth]<='2008-12-31'))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_Person_DateOfBirth_Range]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_Person_JMBG_13Digits] CHECK  ((len([JMBG])=(13) AND patindex('%[^0-9]%',[JMBG])=(0)))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_Person_JMBG_13Digits]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_Person_JMBG_DateOfBirth] CHECK  ((left([JMBG],(7))=((right('00'+CONVERT([varchar](2),datepart(day,[DateOfBirth])),(2))+right('00'+CONVERT([varchar](2),datepart(month,[DateOfBirth])),(2)))+right('000'+CONVERT([varchar](4),datepart(year,[DateOfBirth])),(3)))))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_Person_JMBG_DateOfBirth]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CK_Student_IndexNumber_Format] CHECK  ((NOT [IndexNumber] like '%[^0-9/]%' AND charindex('/',[IndexNumber])=(5) AND (len([IndexNumber])>=(6) AND len([IndexNumber])<=(10)) AND NOT right([IndexNumber],len([IndexNumber])-(5)) like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CK_Student_IndexNumber_Format]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [CK_Subject_Espb] CHECK  (([ESPB]>=(1) AND [ESPB]<=(60)))
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [CK_Subject_Espb]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [CK_Teacher_Title] CHECK  (([Title]>=(1) AND [Title]<=(4)))
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [CK_Teacher_Title]
GO
USE [master]
GO
